
// Body
$body-bg: #0309270a;;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;


//lander consts 
$lander_bg_color : #000619d4;
$header_lander_h1 : white;

//h2
$h2-size:1.5rem;
$h2-weight : bold;

$hover_link : #000619d4;