
// Body
$body-bg: #0309270a;

$body-gradient-webkit : -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
$body-gradient : linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;


//lander consts 
$lander_bg_color : #000619d4;
$header_lander_h1 : white;

//h2
$h2-size:1.5rem;
$h2-weight : bold;


$h3-size:1rem;
$h3-weight : 500;

$hover_link : #000619d4;
$action_btn_size : 1.3rem !important;
// #030927d9 !important;