@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Lusitana');
// Fonts

$font-family-sans-serif : "Poppins", Helvetica, Arial, sans-serif !important;
$font-family-serif : "Lusitana", serif !important;

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
// @import "stripe";

@import "daterangepicker";
@import "navs";
@import "trans";
@import "lander";
@import "./form.scss";
@import './snotify.scss';
@import './global.scss';
body{
//   background : $body-gradient;
//   background: $body-gradient-webkit;
  background: $body-bg !important;
}


.cursorable{
  cursor:pointer;
  cursor: hand;
}