.h2s{
    font-weight: $h2-weight;
    font-size: $h2-size;
    color: $h2s-color;
    font-family: "Lusitana",serif;
  }
.ps {
  font-weight: $p-weight;
  font-size: $p-size;
}

.h1s
{
  font-family: "Lusitana",serif;
  letter-spacing: 2px;
}
  .btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus, .show > .btn-info.dropdown-toggle:focus {
    box-shadow: 0;
  }
button:focus{
  box-shadow : none !important;
  outline: none !important;
  border-radius: none !important;
}

.h3s{
    font-weight: $h3-other-weight;
    font-size: $h3-other-size;
  }
.setup_margin_top{
  margin-top: 5%;
}

.comp_container_jobs{
  padding: 4%;
  background-color: white;
  width: 60%;
  margin: 0 auto;
}

.profile_container
{
  background: linear-gradient(to bottom, #2c3340 0%, #2c3340 15vh, #ffffff 15vh, #ffffff 100%);

}
.comp_container {
  padding: 4%;
  background-color: white;
  width: 60%;
  margin: 0 auto;
  box-shadow: 3px 3px 7px 2px #e2e2e2;

}

.stripe_container{
  //padding: 4%;
  background-color: white;
  width: 60%;
  margin: 0 auto;
  //box-shadow: 3px 3px 7px 2px #e2e2e2;
}
.textarea_everyone {
  box-shadow: 0px 0px 2px #949494;
  text-align: center;
  outline: none !important;
  border-bottom: 1px solid rgba(0, 8, 53, 0.603);
  background-color: transparent;
  border: 0px;
  width: 100%;
  min-height: 80px;
}
.portfolio_job_container
{
  padding: 4%;
  background-color: white;
  width: 60%;
  margin: 30px;
  -webkit-box-shadow: 3px 3px 7px 2px #e2e2e2;
  box-shadow: 3px 3px 7px 2px #e2e2e2;
}

.dashboard_container{
  // width: 90% !important;

}
.message_container {
  margin-top: 2%;
  background-color: #2c3340;
  margin-bottom: 0.1%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 1%;
  padding: 1%;
}

.message_h3 {
  text-align: left;
  color: white;
  font-family: "Lusitana",serif;
  font-size : $h3-size;
  font-weight:  $h3-weight;

}

.message_p {
  font-size: 1rem;
  color: azure;
}

.dashboard_setup_container
{
  padding: 3%;
  background-color: white;
  // width: 60%; 
  margin: 0 auto;

}


.preview_from_table_container
{
  // margin: 10% auto 10px auto !important;
}

// 3px 3px 7px 2px #100c43;