// variables 
$hacker-nav-color : #D80032;





.nav_item_user a
{
    color : white !important;
}
.user_nav_main {
    margin-bottom: 20px !important;
    background-image: linear-gradient(to right,transparent 0%,
    transparent 20%,#2c3340 20%, 
    #2c3340 80%, transparent 80%) 
}  

.user_nav_main  a{
    color : white !important;
}


.hacker_nav_main a
{

    color : $hacker-nav-color;

}

.hacker_nav_main  a:hover
{

    color: #881313 !important;

}

.hacker_nav_main {

    margin-bottom: 20px !important;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(20%, transparent), color-stop(20%, #babbbb), color-stop(80%, #efefef), color-stop(80%, transparent));

}  

.active_item_user{
     color: white !important;
     background-color: #b6babd !important;
     border-radius: 0 !important;
  }
.active_item_hacker{
    color: white !important;
    background-color: $hacker-nav-color !important;
    border-radius: 0 !important;
}