/* da se pomeri na dole kad predje na sledecu komponentu  */


// .flip-enter-active {
//     transition: all .2s cubic-bezier(0.55, 0.085, 0.68, 0.53); //ease-in-quad
//   }
  
//   .flip-leave-active {
//     transition: all .25s cubic-bezier(0.25, 0.46, 0.45, 0.94); //ease-out-quad
//   }
  
//   .flip-enter, .flip-leave-to {
//     transform: scaleY(0) translateZ(0);
//     opacity: 0;
//   }

.flip {
    &-enter-active {
      transition: all 600ms ease-in-out;
    }
    &-leave-active {
      transition: all 100ms ease-in-out;
    }
  
    &-enter,
    &-leave-to { opacity: 0;}
    &-enter { transform : scale(0.9) }
  }

/* Testing transitions for jobs */
.job {
  &-enter-active {
    transition: all 600ms ease-in-out;
  }
  &-leave-active {
    transition: all 100ms ease-in-out;
  }

  &-enter,
  &-leave-to { opacity: 0;}
  &-enter { transform : scale(0.9) }
}


/* Testing transitions for jobs */
.mark-completed {
  &-enter-active {
    transition: all 600ms ease-in-out;
  }
  &-leave-active {
    transition: all 100ms ease-in-out;
  }

  &-enter,
  &-leave-to { opacity: 0;}
  &-enter { transform : scale(0.9) }
}

/* Transitions for profile setup components */
.setup {
  &-enter-active {
    transition: all 600ms ease-in-out;
  }
  &-leave-active {
    transition: all 200ms ease-in;
  }

  &-enter,
  &-leave-to { opacity: 0;}
  &-enter { transform : scale(0.9) }
}


/* Transitions for all user components and dashboard client*/

.main_user {
  &-enter-active {
    transition: all 600ms ease-in-out;
  }
  &-leave-active {
    transition: all 200ms ease-in;
  }

  &-enter,
  &-leave-to { opacity: 0;}
  &-enter { transform : scale(0.9) }
}


/* Transitions for tools client*/
.tool {
  &-enter-active {
    transition: all 600ms ease-in-out;
  }
  &-leave-active {
    transition: all 200ms ease-in;
  }

  &-enter,
  &-leave-to { opacity: 0;}
  &-enter { transform : scale(0.9) }
}



/* Transitions for lander */
.lander {
  &-enter-active {
    transition: all 600ms ease-in-out;
  }
  &-leave-active {
    transition: all 200ms ease-in;
  }

  &-enter,
  &-leave-to { opacity: 0;}
  &-enter { transform : scale(0.9) }
}